<style>
</style>
<div class="container">
  <div class="heading">
    <h1 class="title" style="cursor:pointer" (click)="changeNav()">&#9776; Number</h1>
    <div class="scores-container">
      <div class="score-container" #vn_number style="min-width: 40px;"> - </div>
      <div class="best-container" #vn_timer>00:00:00</div>
    </div>
  </div>
  <div class="above-game">
    <a class="restart-button" (click)="startCounting()">New Game</a>
    <!-- <a class="restart-button" onclick="return stopCounting();">Stop</a> -->
  </div>
</div>
<div #mySidenav class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <p>Number to Find</p>
  <input type="number" name="numberLength" #vn_numberLength [(ngModel)]="data.numbLength">
  <p>Zoom</p>
  <input type="number" name="zoomBoard" #zoomBoard [(ngModel)]="data.zoomBoard">
  <p>R</p>
  <input type="number" name="cR" #cR [(ngModel)]="data.cR">
  <p>Font-size</p>
  <input type="number" name="font-size" #font_size [(ngModel)]="data.font_size">
  <p>Delta top</p>
  <input type="number" name="delta_top" #delta_top [(ngModel)]="data.delta_top">
  <a class="restart-button" style="margin: 10%;" (click)="startCounting()">New Game</a>
</div>
<div class="game-message game-over" style="display: none;" #game_over>
  <p #final_timer>00:00:11</p>
  <p>Finish!</p>
  <div class="lower"><a class="keep-playing-button">Keep going</a>
    <a class="retry-button" (click)="startCounting()">Play again</a>
  </div>
</div>
<div #gameZone></div>
<canvas #myCanvas></canvas>
<router-outlet></router-outlet>